.manage-employee-container {

    .manage-employee-content {
        height              : 100vh;
        background          : linear-gradient(to bottom right, rgb(143, 223, 239), rgb(97, 216, 169));
        display             : flex;
        flex-direction      : column;
        // justify-content : center;
        align-items         : center;

        .manage-employee-header {
            text-align    : center;
            font-size     : 1.5rem;
            padding       : 15px;
            border-bottom : 1px solid #333;
            width         : 30%;

        }

        .manage-employee-body {
            margin          : 3rem 12rem;
            display         : flex;
            justify-content : center;

            .me-button-submit {
                margin-top : 2rem;
                width      : 25%;

            }
        }

        .manage-employee-left {}
    }

    .manage-employee-page {
        background : linear-gradient(to bottom right, rgb(143, 223, 239), rgb(97, 216, 169));
        height     : 100vh;

        .manage-employee-body {
            display     : flex;
            align-items : center;

            .me-button-create-employee {
                margin : 15px;
                width  : 15%;

                .meb-create-employee {
                    background-color : rgb(77, 156, 209);
                    border           : unset;
                    padding          : 10px;
                    border-radius    : 10rem;
                    height           : 70%;
                }
            }


            .me-top-navigator {
                width : 100%;
            }
        }
    }
}